p{
    background-color: #1D3240;
    color: #F2DAC4;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    margin-bottom: -20px;
}
br{
    background-color: #1D3240;
    font-family: 'Bebas Neue', cursive;
    list-style-type: none;
}
ul{

}