h1 {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  font-size: xx-large;
  text-align: center;
  margin-bottom: -17px;
}

.sijainti {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  font-size: larger;
  margin-bottom: -20px;
  text-align: center;
  line-height: 3rem;
}

.maanosat {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  text-align: match-parent;
  padding: 1rem 4rem 1rem;
  line-height: 3rem;
  font-size: larger;
}

li a:hover {
  background-color: #658DA6;
  cursor: pointer;
}

li {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  text-align: left;
  list-style-type: none;
  padding: 1rem;
  margin-left: 10px;
  justify-content: center;
}

p {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: large;
  margin-bottom: -15px;
  flex-direction: column;


  align-items: normal;
}

.endscreen {
  padding: 4rem;
  background-color: #1D3240;
  color: #F2DAC4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  float: left;
  width: 30vw;
}

#game{
    padding: 2rem;
    background-color: #1D3240;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    text-align: left;
}
ul {
  padding: 0;
}

#map {
  width: 48vw;
  height: 90vh;
  float: right;
}

.paper-plane {
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  border: 2px solid black;
  border-radius: 2px;
  z-index: 9999;
}

.paper-plane {
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  border: 2px solid black;
  border-radius: 2px;
  z-index: 9999;
}

.paper-plane {
  width: 30px;
  height: 20px;
  position: absolute;
  background: white;
  border: 2px solid black;
  border-radius: 2px;
  z-index: 9999;
}

ol {
  margin: auto;
  padding: 0 3rem 3rem;
  display: inline-list-item;
  list-style-type: none;
  text-align: center;
  background-color: #1D3240;
  color: #F2DAC4;
  line-height: 3rem;
  font-family: 'Playfair Display', serif;
}

li2 a:hover {
  background-color: #658DA6;
}

li2 a {
  font-size: x-large;
  box-shadow: 5px 10px #2C4859;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
}