h1 {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  font-size: xx-large;
  text-align: center;
  margin-bottom: -17px;
}

.sijainti {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  font-size: larger;
  margin-bottom: -20px;
  text-align: center;
  padding-left: 3rem;
  line-height: 3rem;
}

.maanosat {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  text-align: center;
  padding-left: 1rem;
  /*padding: 1rem 1rem 1rem;*/
  line-height: 4rem;
  font-size: x-large;
  margin-bottom: 0.8rem;
  margin-top: 0;
}

li a:hover {
  background-color: #658DA6;
  cursor: pointer;
}

li {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  text-align: left;
  list-style-type: none;
  padding: 1rem;

  justify-content: center;
  margin-bottom: -15px;
}

p {
  background-color: #1D3240;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: larger;
  margin-bottom: -15px;
  flex-direction: column;

  align-items: center;
}

.endscreen {
  padding: 10rem;
  background-color: #1D3240;
  color: #F2DAC4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
}

/* div{
    padding: 2rem;
    background-color: #1D3240;
    color: #F2DAC4;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    text-align: center;
} */
ul {
  padding: 0;

}

#map {
  width: 48vw;
  height: 70vh;
  float: right;
  margin: 1rem 1rem 3rem;
}


.paper-plane {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("Kuvat/plane.png");
  /*background: white;*/
  border: 2px solid black;
  border-radius: 2px;
  z-index: 9999;
}


ol {
  margin-top: 0;
  padding: 1.5rem 3rem 4rem;
  display: inline-list-item;
  list-style-type: none;
  text-align: center;
  background-color: #1D3240;
  color: #F2DAC4;
  line-height: 3rem;
  font-family: 'Playfair Display', serif;
}

li2 a:hover {
  background-color: #658DA6;
}

li2 a {
  font-size: x-large;
  box-shadow: 5px 10px #2C4859;
  color: #F2DAC4;
  font-family: 'Playfair Display', serif;
}