header{
    font-size: xxx-large;
    text-align: center;
    padding: 5rem;
    background-color:#1D3240;
    color: #F2DAC4;
    margin-bottom: -15px;
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: x-large;
    text-align: center;
    padding: 2rem;
    background-color: #1D3240;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    margin-bottom: -20px;
}

p {
    font-size: larger;
    text-align: center;
    padding: 4rem;
    background-color: #1D3240;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    margin-bottom: -45px;
}

ul{
    display: inline-list-item;
    margin: fill;
    list-style-type: none;
    text-align: center;
    background-color: #1D3240;
    padding: 2rem;
    color: #F2DAC4;
    line-height: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: large;
    margin-bottom: 5px;
}

div{
    line-height: 25px;
}

li a:hover{
    background-color: #658DA6;
}

li a{
    font-size: x-large;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    background-color: #2C4859;
    text-decoration: none;
    display: block;
    margin-top: 40px;
}

#hs{
    margin: fill;
    text-align: center;
    background-color: #1D3240;
    padding: 2vw;
    width: 100%;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    position: absolute;
    margin-left: -20px;
}

#hs:hover{
    background-color: #658DA6;
    cursor: pointer;

}