header{
    font-size: x-large;
    text-align: center;
    padding: 8px;
    background-color:#1D3240;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    margin-bottom: -9px;
    width: 100%;
    outline: #1D3240 solid 10px;
}

input {
    text-align: center;
    height: 30px;
    width: 100%;
    color: #F2DAC4;
    background-color:#1D3240;
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
}

p{
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color:#1D3240;
    color: #F2DAC4;
    font-family: 'Playfair Display', serif;
    margin-bottom: -20px;
    margin-left: -20px;
    outline: #1D3240 solid 10px;
}

ul{

    font-family: 'Playfair Display', serif;
    width: 100%;
    margin: fill;
    background-color: #1D3240;
    text-align: center;
    padding: 1rem;
    color: #F2DAC4;
    margin-bottom: -20px;
    margin-left: -20px;
    outline: #1D3240 solid 10px;
}
.airportwindow{
    padding: 1rem;
    background-color:#1D3240;
    color: #F2DAC4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    list-style-type: none;
}
.linkki{
    margin-top: 20px;
    padding: 1rem;
    background-color:#1D3240;
    color: #F2DAC4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    list-style-type: none;
}

.linkki:hover {
    background-color: #658DA6;
    cursor: pointer;
}

#button{
    margin-top: 17px;
    background-color: #658DA6;
    border: none;
    color: #F2DAC4;
    height: 10vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-bottom: -45px;

}
#button:hover{
    width: 100%;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 #2C4859, 0 17px 50px 0 #2C4859;
}

#moi{
    margin-top: 17px;
    background-color: #658DA6;
    border: none;
    color: #F2DAC4;
    height: 10vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-left: -30px;
    margin-bottom: -20px;
}
#moi:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 #2C4859, 0 17px 50px 0 #2C4859;
}

