header{
    font-size: x-large;
    text-align: center;
    padding: 8px;
    background-color:#1D3240;
    color: #F2DAC4;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: -9px;
    width: 100%;
    outline: #1D3240 solid 10px;
}

input {
    text-align: center;
    height: 30px;
    width: 100%;
    color: #F2DAC4;
    background-color:#1D3240;
    margin-top: 25px;
}

p{
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color:#1D3240;
    color: #F2DAC4;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: -25px;
    margin-left: -20px;
    outline: #1D3240 solid 10px;
}

ul{

    font-family: 'Bebas Neue', cursive;
    width: 100%;
    margin: fill;
    background-color: #1D3240;
    text-align: center;
    padding: 1rem;
    color: #F2DAC4;
    margin-bottom: -28px;
    margin-left: -20px;
    outline: #1D3240 solid 10px;
}
.airportwindow{
    padding: 1rem;
    background-color:#1D3240;
    color: #F2DAC4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    list-style-type: none;
}


.linkki:hover {
    background-color: #658DA6;
    cursor: pointer;
}
.airportwindow:hover{
    background-color: #658DA6;
    cursor: pointer;
}

/* linkit niin, ett채 pystyy klikkaamaan mist채 kohdasta vain, eik채 pelk채n tekstin kohdalta